<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<body>

<h1>Successful signup</h1>
<p>Congratulations on successfully signing up! You're all set to explore and make the most of the features.</p>
</body>
</html>